:root{
    --player-size: 100px;
}
#player{
    height: var(--player-size);
    width: var(--player-size);
    position:relative;

    background: url('img/player.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: calc(var(--screen-height) - var(--player-size));
    left: calc(var(--screen-width)/2 + var(--player-size)/2);
    transition: top 3s;
}

#player.running{
    top: calc(var(--screen-height) / 2);
}